<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>推荐</key>
	<dict>
		<key>needLogin</key>
		<true/>
	</dict>
	<key>热门</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>0</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
	<key>科技</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>101000000</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
	<key>创投</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>101040000</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
	<key>数码</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>101050000</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
	<key>技术</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>20</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
	<key>设计</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>108000000</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
	<key>营销</key>
	<dict>
		<key>needLogin</key>
		<false/>
		<key>parameters</key>
		<dict>
			<key>cid</key>
			<string>114000000</string>
			<key>lang</key>
			<string>1</string>
			<key>pn</key>
			<string>0</string>
			<key>size</key>
			<string>30</string>
		</dict>
		<key>url</key>
		<string>http://api.tuicool.com/api/articles/hot.json</string>
	</dict>
</dict>
</plist>
