<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>QFVjIj</string>
		<key>name</key>
		<string>虎嗅网</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/QFVjIj.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>m2qMVf</string>
		<key>name</key>
		<string>PingWest</string>
		<key>image</key>
		<string>http://stimg1.tuicool.com/m2qMVf.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>MJNVfm</string>
		<key>name</key>
		<string>36氪</string>
		<key>image</key>
		<string>http://stimg2.tuicool.com/MJNVfm.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>AF3qmi</string>
		<key>name</key>
		<string>钛媒体</string>
		<key>image</key>
		<string>http://stimg2.tuicool.com/AF3qmi.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>E3IFfa</string>
		<key>name</key>
		<string>极客公园</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/E3IFfa.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>MRvQJf</string>
		<key>name</key>
		<string>少数派</string>
		<key>image</key>
		<string>http://stimg3.tuicool.com/MRvQJf.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>6j6RZr</string>
		<key>name</key>
		<string>数字尾巴</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/6j6RZr.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>aaMFJj</string>
		<key>name</key>
		<string>动点科技</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/aaMFJj.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>Qrma6b</string>
		<key>name</key>
		<string>设计癖</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/Qrma6b.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>ZNBna2</string>
		<key>name</key>
		<string>百度MUX</string>
		<key>image</key>
		<string>http://stimg1.tuicool.com/ZNBna2.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>qMNZbm</string>
		<key>name</key>
		<string>人人都是产品经理</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/qMNZbm.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>2mqeiq</string>
		<key>name</key>
		<string>CSDN程序员杂志</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/2mqeiq.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>Qzm6Zz</string>
		<key>name</key>
		<string>InfoQ</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/Qzm6Zz.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>QBvMFj</string>
		<key>name</key>
		<string>开源中国翻译文章</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/QBvMFj.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>j2eiQv</string>
		<key>name</key>
		<string>阮一峰的网络日志</string>
		<key>image</key>
		<string>http://stimg0.tuicool.com/j2eiQv.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>ZZZbAz</string>
		<key>name</key>
		<string>腾讯ISUX</string>
		<key>image</key>
		<string>http://stimg1.tuicool.com/ZZZbAz.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>YRVbMz</string>
		<key>name</key>
		<string>High Scalability</string>
		<key>image</key>
		<string>http://stimg2.tuicool.com/YRVbMz.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>id</key>
		<string>z6bQ7v</string>
		<key>name</key>
		<string>MySQL Performance Blog</string>
		<key>image</key>
		<string>http://stimg1.tuicool.com/z6bQ7v.png</string>
		<key>followed</key>
		<false/>
		<key>lang</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
